<div class="mx-auto h-screen bg-white dark:bg-gray-900 pt-12">
    <h1 class="text-5xl font-bold text-center text-gray-700 dark:text-white">Help Portal Management</h1>
    <h2 class="text-2xl font-bold text-center text-gray-700 dark:text-white">The page title</h2>
    <nav class="bg-gray-50 dark:bg-gray-700 rounded-md w-3/4 mx-auto py-2 mt-9">
        <div class="py-3 px-4 mx-auto max-w-screen-xl md:px-6">
            <div class="flex items-center place-content-between flex-col md:flex-row">
                <ul class="flex flex-row mt-0 space-x-4">
                    <li>
                        <button
                                class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50 disabled:opacity-25"
                                type="submit">Utilisateurs
                        </button>
                    </li>
                    <li>
                        <button
                                class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50 disabled:opacity-25"
                                type="submit">Paramètres
                        </button>
                    </li>
                </ul>
                <ul class="flex flex-row mt-0 space-x-4 items-center">
                    <li>
                        <p>Bienvenue, "nom de la personn"</p>
                    </li>
                    <li>
                        <img alt=""
                             class="h-20 w-20 bg-white p-2 rounded-full shadow"
                             src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=2000&amp;q=80">
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>
