<div class="mx-auto h-screen bg-white dark:bg-gray-900 pt-12">
    <h1 class="text-5xl font-bold text-center text-gray-700 dark:text-white">Help Portal Management</h1>
    <h2 *ngIf="titleAction$ | async as title"
        class="text-2xl font-bold text-center text-gray-700 dark:text-white pt-8">{{ title }}</h2>
    <nav class="rounded-md w-3/4 mx-auto py-2 mt-9">
        <div class="py-3 px-4 mx-auto max-w-screen-xl md:px-6">
            <div class="flex items-center place-content-between flex-col md:flex-row">
                <ul class="flex flex-row mt-0 space-x-4">
                    <li>
                        <a (click)="changeTitle('Users')">
                            <button
                                    class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50 disabled:opacity-25 flex items-center"
                                    type="submit">
                                <svg class="h-5 w-5 mr-1" fill="none" stroke="currentColor" stroke-width="2"
                                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
                                          stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                </svg>
                                Utilisateurs
                            </button>
                        </a>
                    </li>
                    <li>
                        <a (click)="changeTitle('Paramètres')">
                            <button
                                    class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50 disabled:opacity-25 flex items-center"
                                    type="submit">
                                <svg class="h-5 w-5 mr-1" fill="none" stroke="currentColor"
                                     stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
                                          stroke-linecap="round"
                                          stroke-linejoin="round"/>
                                </svg>
                                Paramètres
                            </button>
                        </a>
                    </li>
                </ul>
                <ul class="flex flex-row mt-0 space-x-4 items-center">
                    <li>
                        <p class="dark:text-white text-gray-700">Bienvenue, "nom de la personn"</p>
                    </li>
                    <li>
                        <a (click)="changeTitle('Profiles')">
                            <img alt=""
                                 class="h-20 w-20 bg-white p-2 rounded-full shadow hover:cursor-pointer"
                                 src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=2000&amp;q=80">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="w-3/4 mx-auto mt-8 flex justify-end gap-4">
        <form action="" class="relative w-max">
            <input class="peer cursor-pointer relative z-10 h-12 w-12 rounded-full border bg-transparent pl-12 outline-none hover:w-full hover:border-blue-400 focus:w-full focus:cursor-text focus:border-blue-400 focus:pl-16 focus:pr-4 dark:text-white text-gray-700"
                   type="search"/>
            <svg class="absolute inset-y-0 my-auto h-8 w-12 border-r border-transparent stroke-gray-500 px-3.5 peer-focus:border-blue-400 peer-focus:stroke-blue-400"
                 fill="none"
                 stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </form>
        <button
                class="px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50 disabled:opacity-25 flex items-center"
                type="submit">
            <svg class="h-5 w-5 mr-1" fill="none" stroke="currentColor" stroke-width="2"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"
                      stroke-linecap="round"
                      stroke-linejoin="round"/>
            </svg>
            Ajouter un compte
        </button>
        <button
                class="px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50 disabled:opacity-25"
                type="submit"
        >
                <span *ngIf="isFetchingData">
                <svg class="inline mr-3 w-4 h-4 text-white animate-spin" fill="none" role="status"
                     viewBox="0 0 100 101"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                          fill="#E5E7EB"/>
                  <path
                          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                          fill="currentColor"/>
                </svg>
                </span>
            <span (click)="getAllUsers(true)" *ngIf="!isFetchingData" class="flex items-center"><svg
                    class="h-5 w-5 mr-1"
                    fill="none" stroke="currentColor"
                    stroke-width="2" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
  <path d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"
        stroke-linecap="round"
        stroke-linejoin="round"/>
</svg>Rafraichir</span>
        </button>
    </div>
    <!-- component -->

    <div class="mt-8 w-3/4 mx-auto overflow-x-auto rounded-lg">
        <div class="inline-block min-w-full rounded-lg overflow-hidden dark:bg-gray-900 ">
            <table class="min-w-full leading-normal">
                <thead>
                <tr>
                    <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                    </th>
                    <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Id de L'utilisateur
                    </th>
                    <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Prénom
                    </th>
                    <th
                            class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Nom
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Identifiant
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Email
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Status
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        Gérer
                    </th>
                </tr>
                </thead>
                <tbody *ngFor="let user of usersList">


                <tr class="cursor-pointer">
                    <td (click)="toggleModal(user)" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <div class="flex items-center">
                            <div class="flex-shrink-0 w-10 h-10">
                                <img alt=""
                                     class="w-full h-full rounded-full"
                                     src="{{ user?.userProfilePictureLink }}"/>
                            </div>
                        </div>
                    </td>
                    <td (click)="toggleModal(user)" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <p class="text-gray-900 whitespace-no-wrap">{{user?.id}}</p>
                    </td>
                    <td (click)="toggleModal(user)" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <p class="text-gray-900 whitespace-no-wrap">
                            {{ user?.userFirstName }}
                        </p>
                    </td>
                    <td (click)="toggleModal(user)" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <p class="text-gray-900 whitespace-no-wrap">{{user?.userLastName}}</p>
                    </td>
                    <td (click)="toggleModal(user)" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <p class="text-gray-900 whitespace-no-wrap">{{ user?.userAccountName }}</p>
                    </td>
                    <td (click)="toggleModal(user)" class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <p class="text-gray-900 whitespace-no-wrap">{{ user?.userEmail }}</p>
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                        <span [hidden]="!user?.isUserConnected"
                              class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                        <span [hidden]="!user?.isUserConnected"
                                              class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                                        <span [hidden]="!user?.isUserConnected" class="relative">Actif</span>
                                    </span>
                        <span
                                [hidden]="user?.isUserConnected"
                                class="relative inline-block px-3 py-1 font-semibold text-red-900 leading-tight">
                                        <span [hidden]="user?.isUserConnected"
                                              class="absolute inset-0 bg-red-200 opacity-50 rounded-full"></span>
                                        <span [hidden]="user?.isUserConnected" class="relative">Inactif</span>
                                    </span>
                    </td>
                    <td class="py-5 border-b border-gray-200 bg-white text-sm">
                        <div class="border w-fit rounded-xl shadow-sm">
                            <button class="px-4 py-2 rounded-l-xl text-white m-0 bg-blue-400 hover:bg-blue-300 transition">
                                Editer
                            </button>
                            <button class="px-4 py-2 rounded-r-xl bg-neutral-50 hover:bg-neutral-100 transition">
                                Supprimer
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="showBanner"
             class="relative flex flex-col sm:flex-row sm:items-center bg-white shadow rounded-md py-5 pl-6 pr-8 sm:pr-6 ">
            <div class="flex flex-row items-center border-b sm:border-b-0 w-full sm:w-auto pb-4 sm:pb-0">
                <div class="text-blue-400">
                    <svg class="w-6 sm:w-5 h-6 sm:h-5" fill="none" stroke="currentColor" stroke-width="2"
                         viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="text-sm font-medium ml-3"></div>
            </div>
            <div class="text-sm tracking-wide text-gray-500 mt-4 sm:mt-0 sm:ml-4">
                {{ notificationMsg }}
            </div>
            <div
                    (click)="showBanner = false"
                    class="absolute sm:relative sm:top-auto sm:right-auto ml-auto right-4 top-4 text-gray-400 hover:text-gray-800 cursor-pointer"
            >
                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"></path>
                </svg>
            </div>
        </div>
    </div>


    <div *ngIf="showModal"
         class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
        <div class="relative w-auto my-6 mx-auto max-w-6xl">
            <!--content-->
            <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                <!--header-->
                <div class="flex justify-end">
                    <button (click)="showModal = !showModal"
                            class="text-gray-700 text-3xl hover:text-gray-500 py-2 px-4">
                        ×
                    </button>
                </div>
                <!--body-->
                <!-- component -->
                <div class="relative max-w-md mx-auto md:max-w-2xl mt-6 min-w-0 break-words bg-white w-full mb-6 rounded-xl mt-16">
                    <div class="px-6">
                        <div class="flex flex-wrap justify-center">
                            <div class="w-full flex justify-center">
                                <div class="relative">
                                    <img alt="profileImage"
                                         class="rounded-full bg-white p-2 rounded-full shadow align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-[150px]"
                                         src="{{ selectedUser?.userProfilePictureLink }}"/>
                                </div>
                            </div>
                            <div class="w-full text-center mt-20">
                            </div>
                        </div>
                        <div class="text-center mt-2">
                            <h3 class="text-2xl text-slate-700 font-bold leading-normal mb-1">{{ selectedUser?.userFirstName + ' ' + selectedUser?.userLastName }}</h3>
                            <div class="text-xs mt-0 mb-2 text-slate-400 font-bold uppercase">
                                <span class="mr-2 text-slate-400 opacity-75">Etat du compte :</span> <span
                                    [hidden]="!selectedUser?.isUserConnected"
                                    class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                        <span [hidden]="!selectedUser?.isUserConnected"
                                              class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                                        <span [hidden]="!selectedUser?.isUserConnected" class="relative">Actif</span>
                                    </span>
                                <span
                                        [hidden]="selectedUser?.isUserConnected"
                                        class="relative inline-block px-3 py-1 font-semibold text-red-900 leading-tight">
                                        <span [hidden]="selectedUser?.isUserConnected"
                                              class="absolute inset-0 bg-red-200 opacity-50 rounded-full"></span>
                                        <span [hidden]="selectedUser?.isUserConnected" class="relative">Inactif</span>
                                    </span>

                            </div>
                            <div *ngIf="selectedUser?.userLastConnectionToDisplay"
                                 class="text-xs mt-0 mb-2 text-slate-400 font-bold uppercase">
                                <span class="mr-2 text-slate-400 opacity-75">Dernière connexion :</span> {{ selectedUser?.userLastConnectionToDisplay | date:'medium' }}
                            </div>
                            <div class="text-xs mt-0 mb-2 text-slate-400 font-bold uppercase">
                                <span class="mr-2 text-slate-400 opacity-75">Compte créer le :</span> {{ selectedUser?.userSignUpDate | date:'medium'  }}
                            </div>
                        </div>
                        <div class="mt-6 py-6 border-t border-slate-200 text-center">
                            <div class="flex flex-wrap justify-center">
                                <div class="w-full px-4">
                                    <p class="font-light leading-relaxed text-slate-600 mb-4"><span
                                            class="font-bold">Id :</span> 123205032
                                    </p>
                                </div>
                                <div class="w-full px-4">
                                    <p class="font-light leading-relaxed text-slate-600 mb-4"><span
                                            class="font-bold">Email : </span>
                                        : {{ selectedUser?.userEmail}}
                                    </p>
                                </div>
                                <div class="w-full px-4">
                                    <p class="font-light leading-relaxed text-slate-600 mb-4"><span
                                            class="font-bold">Role : </span><span
                                            class="lowercase">{{ selectedUser?.userRole?.substring( 5 )?.replace( '_', ' ' )}}</span>
                                    </p>
                                </div>
                                <div class="w-full px-4">
                                    <p class="font-light leading-relaxed text-slate-600 mb-4"><span
                                            class="font-bold">Id : </span> 123205032
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
</div>

